
<style>
 body{
   background: #212121;
   color: #666;
 }


</style>

<body>
    <div id ="game">
        <div id="title">
            <h1>{{title}}</h1>
        </div>
        <div id="info">
          <div id="message">This is  's trun</div>
            <ul id="gameBoard">
                <li class="tic"id="0">#</li>
                <li class="tic"id="1">#</li>
                <li class="tic"id="2">#</li>
                <li class="tic"id="3">#</li>
                <li class="tic"id="4">#</li>
                <li class="tic"id="5">#</li>
                <li class="tic"id="6">#</li>
                <li class="tic"id="7">#</li>
                <li class="tic"id="8">#</li>
              </ul>
        </div>
        <div id = "reset">
          <button onclick="">Restart Game</button>
        </div>
      
      
      </div>
</body>



<script>

</script>

<router-outlet></router-outlet>